@model List<Pizza>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black" style="font-size: 24px; ">
                Pizza List
            </h2>
        </div>
        <div class="col-6">

        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.Name))
        {
            <tr>
                <td>@obj.Name</td>
                <td>
                    @obj.Description
                </td>
            </tr>
        }
    </tbody>
</table>


</div>