@model List<Pizza>

<h1>Pizza List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>
                    @obj.Description
                </td>
            </tr>
        }
    </tbody>
</table>